extends layout

block content
  h1(style='text-align: center') #{category.name} Games 
  div(class='row justify-content-center')
    div(class='col-md-6')
      img(src=`/images/${category.image}` class='img-fluid mb-5 box-shadow')

  if error 
    p error loading items 
  else 
    ul(class='row no-padding')
      each item in category_items
        li(class='col-md-6 grow') 
          div(class='card border-0')
            img(src=`/images/${item.avatar}` class='card-img-top box-shadow')
            div(class='card-body')
              h3(class='card-title')
                a(href=item.url) #{item.name}
              div(class='card-text')
                p #{item.description}
                p #{item.price}
        

  hr
  p 
    a(href=category.url+'/delete') Delete This Category
  p
    a(href=category.url+'/update') Update This Category