extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 #{category.name} Games 

  if error 
    p error loading items 
  else 
    dl
      each item in category_items
        dt 
          a(href=item.url) #{item.name}
        dd #{item.description}
        dd #{item.price}

  hr
  p 
    a(href=category.url+'/delete') Delete This Category
  p
    a(href=category.url+'/update') Update This Category