extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 Systems

  if error 
    p error loading items 
  else 
    p The Warehouse has the following items on hand! 

    ul
      each category in categories
        li
          img.avatar(src=`/images/${category.image}`)
          a(href=category.url) #{category.name}
      else 
        li There are no items for sale!
