extends layout

block content
  h1= title
  p Welcome to #{title}

  h1= item.name
  img(src='/'+item.avatar alt='ff8 logo')
  p= item.description
  p $#{item.price}

  each category in item.category
    li
      a(href=category.url) #{category.name}

  hr 
  p 
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item
