extends layout

block content
  h1= title
  p Welcome to #{title}

  if error 
    p error loading items 
  else 
    ul(class='row')
      each item in item_list
        li(class='col-md-6')
          div(class='card')
            img(src='/images/'+item.avatar class='card-img-top img-fluid')
            div(class='card-body')
              h5(class='card-title')
                a(href=item.url) #{item.name}
              p $#{item.price}