extends layout

block content
  h1= title
  p Welcome to #{title}

  if error 
    p error loading items 
  else 
    dl
      each item in item_list
        img.avatar(src='/images/'+item.avatar)
        dt 
          a(href=item.url) #{item.name}
        dd $#{item.price}